{% extends "viewflow/base.html" %}
{% load static %}

{% block title %}Kisomo{% endblock %}

{% block favicon %}
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'dissertation/ui/tokens.css' %}" data-turbo-track="reload">
  <link rel="stylesheet" href="{% static 'dissertation/ui/components.css' %}" data-turbo-track="reload">
{% endblock %}

{% block body %}
  {% block page_body %}{% endblock %}
{% endblock %}
